<ion-content>
  <button class="back-btt" (tap)="back()"><ion-icon><img src="assets/pp/back.png"></ion-icon></button>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <div class="photo-video">
          <div class="inner-btt">
            <div class="my-icon">
              <img src="assets/pp/uploadvideo.png">
            </div>
            <div class="border"></div>
            <div class="my-icon">
              <img src="assets/pp/uploadimage.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-10>
          <ion-item no-lines class="range-item">
    <ion-range mode="md" min="0" max="500" [(ngModel)]="metr">
    </ion-range>
        </ion-item>
        <ion-label class="metr">
            {{metr}}m
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col class="check" col-10>
        <ion-label>Gender</ion-label>
        <ion-list radio-group [(ngModel)]="radioGen">
          <img class="wom-icon" src="assets/pp/famalec.png">
          <ion-radio mode="md" [value]="1"></ion-radio>
          <ion-radio mode="md" [value]="2"></ion-radio>
          <img class="man-icon" src="assets/pp/malec.png">
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col class="check" col-10>
        <ion-label>Interested</ion-label>
        <ion-list>
          <img class="wom-icon" src="assets/pp/famalec.png">
          <ion-checkbox [(ngModel)]="intWom" mode="ios"></ion-checkbox>
          <ion-checkbox [(ngModel)]="intMan" mode="ios"></ion-checkbox>
          <img class="man-icon" src="assets/pp/malec.png">
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-10>
        <button icon-start mode="ios" ion-button outline round class="login">
              <ion-icon><img class="login-icon" src="assets/pp/store.png"></ion-icon>
              Store
            </button>
      </ion-col>
    </ion-row>
          <ion-row justify-content-center>
        <ion-col col-10>
          <ion-label class="password-des">Change password</ion-label>
          <ion-item class="pass-item">
            <img class="password-icon" item-start src="assets/pp/password.png">
            <ion-input placeholder="password" [(ngModel)]="password" type="{{showPassword ? 'text' : 'password'}}"></ion-input>
            <ion-icon class="openEye-icon" (tap)="openEye()" item-end><img class="eys-icon" item-start src="{{eys}}"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    <ion-row justify-content-center>
      <ion-col col-10>
        <button icon-start mode="ios" ion-button outline round class="login">
              <ion-icon><img class="login-icon" src="assets/pp/save.png"></ion-icon>
              Save
            </button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-label class="leftText" float-left>Leave Account</ion-label>
  </ion-toolbar>
</ion-footer>